body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

header {
    background-color: #f4f4f4;
    color: #393c41;
    font-size: 14px;
}

header a {
    color: #393c41;
}

.navbar-collapse {
    flex-grow: 0;
}

.main-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-APR-Promo-Hero-Desktop-v2.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.model_y-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.model_3-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.model_x-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.model_s-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-US.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.cybertruck-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop-v3.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.solar_panels-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.solar_roof-img {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarRoof-Desktop-US.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    width: 100%;
    z-index: 10;
    position: absolute;
}

.navbar a {
    font-weight: bold;
}

.navbar a:hover {
    color: #ddd;
}

.text {
    padding-top: 104px;
}

.link {
    border-radius: 4px;
    color: #393c41;
}


.custom-collapse {
    background-color: white;
    color: black;
    padding: 20px;
    z-index: 1050;
}

.bg-primary {
    border: 0;
}

.btn-cybertruck {
    background-color: #111111; 
    border-radius: 0; 
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 2px inset;
    cursor: pointer;
    opacity: 0.9;
}

@media (min-width: 1200px) {
    .custom-collapse {
        background-color: transparent;
    }

    .custom-collapse li a{
        background-color: transparent;
        color: white;
      }
}